@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	body {
		@apply bg-background text-white font-['Inter'];
	}
	h1,
	h2,
	h3 {
		font-family: 'Merriweather';
		font-weight: bold;
	}
}

@layer components {
	.background-gradient {
		background: url(./content-bg.png) 0 -1px repeat-x;
	}
}
